In [1]:
import pandas as pd

# Define a function to read CSV files with a specific date format
def read_csv_with_date_format(filepath, date_format):
    return pd.read_csv(filepath, parse_dates=True, index_col=0, date_parser=lambda x: pd.to_datetime(x, format=date_format))

In [2]:
# Specify the date format used in the CSV files
date_format = "%d/%m/%Y"

# List of CSV file paths containing real estate trend data
estate_economic_data = ["mortgage_interest_rates.csv", "house_vacancy_rate.csv", "cpi_housing_data.csv"]

# Read each CSV file into a DataFrame and store them in a list
dfs = [read_csv_with_date_format(f, date_format) for f in estate_trends]

# Concatenate all DataFrames along the columns (axis=1)
estate_trends = pd.concat(dfs, axis=1)
estate_trends

            MORTGAGE INTEREST  VACANCY RATE    CPI
DATE
2004-01-01                NaN           6.4    NaN
2004-03-31                NaN           5.1    NaN
2004-06-29                NaN           6.3    NaN
2004-09-27                NaN           4.7    NaN
2004-12-26                NaN           4.6    NaN
...                       ...           ...    ...
2024-02-26               6.96           NaN  123.5
2024-02-27               5.18           NaN  123.5
2024-02-28               7.06           NaN  123.5
2024-02-29               7.12           NaN  123.5
2024-03-01                NaN           NaN  123.5

[3696 rows x 3 columns]